* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.container {
    width: 98%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

body{
    background-image: url("images/fondo.jpg");
    background-size: cover;
}
h1{
    display: flex;
    justify-content: center;
}
/* Formularios */

.formu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.login-enlaces{
display: flex;
flex-direction: column;
align-items: center;


}
/* Index
.usuario-index nav{
    display: flex;
    justify-content: flex-end;
} */