/* PANEL DE CONTROL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.container {
    width: 98%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    background-image: url("../images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.formu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
