/* PANEL DE CONTROL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.container {
    width: 98%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

body {
    background-image: url("../images/fondo.jpg");
    background-size: cover;
}

/* header {
    margin-right: 1%;
    height: 100%;
}

header nav {
    background-color: lightblue;

}

.menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    list-style: none;
    height: 100%;

} */

/* 
.menu li {
    padding: 20px;

}

.menu li a {
    text-decoration: none;
    color: black;
}

.admin {
    display: none;
} */

/* /////////////////////////////////LISTADO/TABLA////////////////////////////////////////// */

.tabla {
    border-collapse: collapse;
    width: 100%;
    display: flex;

}

.tabla tr th {
    text-align: right;
    background-color: red;
    color: white;
    padding: 10px;
    width: 100%;
}

.formu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}